nav.navbar
    ul.navbar-left
        h1 MyComm
        li 
            a(href="#" class="navbar-link")
    ul.navbar-right
        li 
            a(href="/shopping-cart" class="navbar-link") 
                i.fa.fa-shopping-cart Shopping Cart
                if session.cart
                    span.p1.fa-stack.fa-2x.has-badge( data-count="4")= session.cart.totalQty
                        i.p3.fa.fa-shopping-cart.fa-stack-1x.xfa-inverse( data-count="4b")
        div#myDropdown.dropdown-content
            ul#dropdown1.dropdown-content
                if login
                    li
                        a(href='/users/profile') User Account
                    li
                        a(href='/users/logout') Logout
                else
                    li
                        a(href='/users/signin') Sign In
                    li
                        a(href='/users/signup') Sign Up    
            ul#dropdown2.dropdown-content
                if login
                    li
                        a(href='/users/profile') User Account
                    li
                        a(href='/users/logout') Logout
                else
                    li
                        a(href='/users/signin') Sign In
                    li
                        a(href='/users/signup') Sign Up   