nav.navbar
    ul.navbar-left
        h1 MyComm
        li 
            a(href="#" class="navbar-link")
    ul.navbar-right
        li 
            a(href="#" class="navbar-link") 
                i.fa.fa-shopping-cart Shopping Cart
        div#myDropdown.dropdown-content
            a(href="#") 
                i.fa.fa-user User
            a(href="#") Logout