extends layout

block content
  div.wrapper
    div.card-header
  div.container
    each product in products
      div.thumbnail-row
        each prod in product
          div.thumbnail-card 
            div.thumbnail-image
              img(src= prod.imagePath)    
              span= prod.title
              |
            div.thumbnail-content
              p= prod.description
              |
            div.thumbnail-action
                
              div.price.left #{`$${prod.price}`}
              div.right
                a(href="/users/add-to-cart/" + prod._id ) Add to cart
              

