extends layout

block content
    h2 Sign in
    - if (hasErrors)
        each message in messages
            div.small-message
                h3 #{message}

    form(method='post' action='/users/signin')
        div.form-group
            label Email
            input#email.form-control(name='email', type='text' required)
        div.form-group
            label Password
            input#password.form-control(name='password', type='password' required)
        div.form-group
            input.form-control(type="hidden" name="_csrf" value= csrfToken)
        br
        input.btn(type='submit', value='Sign In')